[submodule "NiceDay/vendor/spdlog"]
	path = NiceDay/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "NiceDay/vendor/glfw"]
	path = NiceDay/vendor/glfw
	url = https://github.com/Cooble/glfw.git
[submodule "NiceDay/vendor/glm"]
	path = NiceDay/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "NiceDay/vendor/imgui"]
	path = NiceDay/vendor/imgui
	url = https://github.com/Cooble/imgui.git
[submodule "NiceDay/vendor/luabind"]
	path = NiceDay/vendor/luabind
	url = https://github.com/Cooble/luabind.git
[submodule "NiceDay/vendor/luabind-deboostified"]
	path = NiceDay/vendor/luabind-deboostified
	url = https://github.com/Cooble/luabind-deboostified.git
[submodule "NiceDay/vendor/json"]
	path = NiceDay/vendor/json
	url = https://github.com/Cooble/json.git
[submodule "NiceDay/vendor/ogg"]
	path = NiceDay/vendor/ogg
	url = https://github.com/xiph/ogg.git
[submodule "NiceDay/vendor/vorbis"]
	path = NiceDay/vendor/vorbis
	url = https://github.com/xiph/vorbis
[submodule "NiceDay/vendor/portaudio"]
	path = NiceDay/vendor/portaudio
	url = git://git.assembla.com/portaudio.git
