# Directories
.vs/
bin/
bin-int/
nogit/
ignore/
vendor/swig/
NiceDay/vendor/portaudio/
NiceDay/vendor/libogg/
NiceDay/vendor/libvorbis/
NiceDay/vendor/oggtest/
profiles/
res/audio/
res/lua/temp/


# Files
*.user
*.world
*.world.entity
*imgui.ini
*lua_editor_settings.dat